{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Costos</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% tailwind_css %}
</head>
<body>
    <h1>Tasks</h1>

    <form action="{% url 'create_task' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Write a title">
        <textarea name="payment" placeholder="Write a payment"></textarea>
        <input name="date" type="date" placeholder="Enter the payment date">
        <button class="bg-red-600">Save</button>
        <textarea name="budget" placeholder="What is your net budget?"></textarea>
    </form>

    <form action="{% url 'create_task' %}" method="POST">
        {% csrf_token %}
    </form>

    {% for task in tasks %}
    <div>
        <h1>{{ task.title }}</h1>
        <p>{{ task.payment }}</p>
        <input type="date" name="date" value="{{ task.date|date:'Y-m-d' }}">
        <form action="{% url 'delete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button>Delete</button>
        </form>
        <a href="{% url 'edit_task' task.id %}">
            <button>Editar</button>
        </a>
        <p>{{ task.budget }}</p>
        <p>{{ task.budget_edit }}</p>
    </div>
    {% empty %}
    <h1>No hay tareas</h1>
    {% endfor %}
</body>
</html>
